*{
          margin: 0;
          padding: 0;
}

nav{
          background-color: #395079;
          height: 90px;
}
nav h1{
          color: white;
          font-size: 36px;
          padding: 15px;

         
}